<nav class="nav-extended">
  <div class="nav-wrapper container">
    <a href="/feed" class="brand-logo">
      <img src="/images/logo.png" alt="keepsake logo" class="k-icon"> Keepsake
    </a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down top-nav-toggles">
      <li class="welcome-back">
        {{#if currentUser}}
        You've got some talented kids, <span>{{currentUser.username}}</span>
        {{/if}}
      </li>

      {{#each listOfChildren}}
      {{#if this.owned}}
      <li class="circle-toggles">
        <a href="/feed/{{this._id}}">
          <img class="circle avatar" src="{{this.image}}">
        </a>
      </li>
      {{/if}}
      {{/each}}
      <li class="circle-toggles">
        <div class="topnav-add-child-button">
          <a class="btn-floating btn waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>
      </li>


      <li>
        <div class="search-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons magnify-icon" placeholder="search artwork">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <!-- Dropdown -->
    <ul id="dropdown1" class="dropdown-content">
      {{#if currentUser}}
      <li><a href="/feed/user-details">Edit Profile</a></li>
      <li><a href="/feed/logout">Logout</a>
        {{/if}}
      </li>
    </ul>

  </div>

</nav>
<ul class="side-nav" id="nav-mobile">
  {{#if currentUser}}
  <li><a href="/feed"><i class="material-icons">home</i>Home Feed</a></li>
  <li><a href="/feed/user-details"><i class="material-icons">account_circle</i>Edit Profile</a></li>
  <li><a href="/feed/logout"><i class="material-icons">chevron_right</i>Logout</a></li>
  {{/if}}
</ul>


<!-- CREATE CHILD MODAL -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Add Child</h4>
    <div class="row">

      <form class="col s12" action="/feed/create-child" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Ex: Johnny" id="first_name" type="text" class="validate" name="theName">
            <label for="first_name">Child's Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="birthdate">Child's Birthdate</label>
            <input type="text" class="datepicker" placeholder="Select Date" class="validate" name="theDateOfBirth">
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12">
            <div class="btn waves-effect">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload an image of your child">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="col s12">
            <button class="btn waves-effect waves-light btn-large modal-close" type="submit" name="action">Add Child
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div> <!-- END CHILD MODAL -->


<!-- MAIN CONTENT ================================== -->
<div class="container">

  <!-- BANNER -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="/images/Artwork1.png">
          <span class="card-title">
            <h2 class="child-name">{{theChild.name}}</h2>
          </span>
          <a class="btn-floating halfway-fab waves-effect waves-light white" id="child-feed-avatar">
            <img class="circle" src="{{theChild.image}}" alt="Child avatar">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD ARTWORK FORM -->
  <div>
    <ul class="collapsible" id="add-artwork-collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">add</i>Add Artwork</div>
        <div class="collapsible-body">

          <!-- Add a new piece to Child's portfolio. -->
          <h4>Add a new piece to {{theChild.name}}'s portfolio</h4>

          <form id="create-post">

            <input type="hidden" id="childId" value="{{theChild._id}}">

            <div class="input-field col s12">
              <input id="postTitle" type="text" class="validate" name="artTitle">
              <label for="postTitle">Artwork Title</label>
            </div>

            <div class="input-field col s12">
              <label for="postDate">Date of Creation</label>
              <input type="text" class="datepicker" class="validate" name="dateCreated" id="postDate">
            </div>

            {{!-- <form class="col s12"> --}}
            <div class="row">
              <div class="input-field col s12">
                <textarea id="postDescription" class="materialize-textarea" name="description"></textarea>
                <label for="textarea1">Things to remember about this piece...</label>
              </div>
            </div>
            {{!-- </form> --}}

            <div class="file-field input-field col s12">
              <div class="btn waves-effect">
                <span>Upload Artwork</span>
                <input type="file" id="upload-file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Artwork" id="postImage">
              </div>
            </div>

            <div class="modal-footer">
              <div class="col s12 right-align">
                <button id="add-art-btn" class="btn waves-effect waves-light btn-large modal-close" type="submit" name="action">Add Piece
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>

          </form>
        </div>
      </li>

  </div>
  </li>

  </ul>
</div> <!-- end add artwork form -->


<!-- Gallery -->
<div id="portfolio" class="section gray">
  <div class="container">
    <div class="gallery row">

      {{#each listOfPosts}}

      <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
        <div class="gallery-curve-wrapper">

          <div class="hoverable">
            <a class="gallery-cover gray">
              <img class="responsive-img art-img" src=" {{this.image}}" alt="{{this.description}}">
            </a>
            <div class="gallery-header">
              <span>{{this.title}}</span>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>{{this.title}}</h3>
                <span class="price">Age at creation: {{moment-age this.creation childDob='2018-06-04'}} years old</span>
              </div>
              <div>
                <p class="description">
                  {{this.description}}
                </p>
                <img class="responsive-img" src=" {{this.image}}" alt="{{this.description}}" style="width:100%;">
                <a href="#">Edit this Piece</a>
              </div>

            </div>

            <div class="gallery-action">
              <a href="#" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Send to Grandma"><i class="material-icons">email</i></a>
              <a href="#" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Order Prints"><i class="material-icons">wallpaper</i></a>
            </div>
          </div> <!-- close hoverable -->
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div><!-- /.container -->





<script src="/javascripts/new-post.js"></script>