{{!-- Nav ================================== --}}

<nav class="nav-extended">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">
      <img src="/images/logo.png" alt="keepsake logo" class="k-icon"> Keepsake
    </a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down top-nav-toggles">
      <li class="welcome-back">
        {{#if currentUser}}
        You've got some talented kids, <span>{{currentUser.username}}</span>
        {{/if}}
      </li>

      {{#each listOfChildren}}
      {{#if this.owned}}
      <li class="circle-toggles">
        <a href="/feed/{{this._id}}">
          <img class="circle avatar" src="{{this.image}}">
        </a>
      </li>
      {{/if}}
      {{/each}}
      <li class="circle-toggles">
        <div class="topnav-add-child-button">
          <a class="btn-floating btn waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
        </div>
      </li>

      <li>
        <div class="search-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons magnify-icon" placeholder="search artwork">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <!-- Dropdown -->
    <ul id="dropdown1" class="dropdown-content">
      {{#if currentUser}}
      <li><a href="/feed/user-details">Edit Profile</a></li>
      <li><a href="/feed/logout">Logout</a>
        {{/if}}
      </li>
    </ul>

  </div>

</nav>
<ul class="side-nav" id="nav-mobile">
  <li class="active"><a href="index.html"><i class="material-icons">camera</i>Gallery</a></li>
  <li><a href="index-dark.html"><i class="material-icons">brightness_3</i>Dark Theme</a></li>
  <li><a href="blog.html"><i class="material-icons">edit</i>Blog</a></li>
  <li><a href="docs.html"><i class="material-icons">school</i>Docs</a></li>
  <li><a href="full-header.html"><i class="material-icons">fullscreen</i>Fullscreen Header</a></li>
  <li><a href="horizontal.html"><i class="material-icons">swap_horiz</i>Horizontal Style</a></li>
  <li><a href="no-image.html"><i class="material-icons">texture</i>No Image Expand</a></li>
</ul>


<!-- MAIN CONTENT ================================== -->
<div class="container">

  <!-- Child cards -->
  <div class="row" id="child-list">

    {{#each listOfChildren}}
    {{#if this.owned}}
    <div class="col s12 m3">

      <div class="card small">
        <a href="/feed/{{this._id}}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{modifyUrlOfProfile this.image  urlString='w_300,h_300,c_fill,g_auto/'}}">
          </div>
        </a>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">mode_edit</i></span>
          {{!-- <p><a href="/feed/details/{{this._id}}">Edit Profile</a></p> --}}
          <p> {{moment-age this.creation childDob='2018-06-04'}} Years Old</p>
        </div>


        <!-- Reveal edit form -->
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Edit {{this.name}}<i class="material-icons right">close</i></span>
          <p>
            <div>
              <form id="edit-form">
                <input type="hidden" value="{{this._id}}" id="hidden-id">
                <input type="text" id="edit-name" value="{{this.name}}" placeholder="name">
                <input type="date" id="edit-dob" value="{{moment this.dob format="YYYY-MM-DD"}}" placeholder="Birthday">
                <button class="btn-save-child right">Save</button>
              </form>
              <form action="/feed/{{this._id}}/remove" method="POST">
                <button class="btn-remove-child">Remove Child</button>
              </form>
            </div>

          </p>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}

    <div class="col s12 m3">
      <a href="#modal1">
        <div class="card">
          <div class="card-image">
            <img src="images/add-child.jpg">
            <span class="card-title">Add New Child</span>
          </div>
        </div>
      </a>
    </div>
  </div>


    <!-- Add new child modal -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Add Child</h4>
        <div class="row">

          {{!-- The first form method is used if getting through router. Second form method is for posting with axios --}}
          {{!-- <form class="col s12" action="/feed/create-child" method="POST" enctype="multipart/form-data"> --}}
          <form class="col s12" id="create-child">
            <input type="hidden" id="creatorId" value="{{theUser._id}}">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Ex: Johnny" id="childName" type="text" class="validate" name="theName">
                <label for="child_name">Child's Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="birthdate">Child's Birthdate</label>
                <input type="date" class="datepicker" class="validate" name="theDateOfBirth" id="childDob">
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col s12">
                <div class="btn waves-effect">
                  <span>File</span>
                  <input type="file" id="newChildImage">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload an image of your child">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col s12 push">
                <button class="btn waves-effect waves-light btn-large modal-close" type="submit" name="action">Add Child
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div> <!-- END CHILD MODAL -->
  </div> <!-- end child row -->



  <!-- Home feed -->
  <div class="post-container">
    <h2>Home Feed</h2>

    <!-- Gallery -->
    <div id="portfolio" class="section gray">

      <div class="gallery row">

        {{#each listOfPosts}}

        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" src="{{this.image}}" alt="{{this.description}}">
            </a>
            <div class="gallery-header">
              <span>{{this.title}}</span>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>{{this.title}}</h3>
                <span class="price">Age at creation: {{moment-age this.creation childDob='2018-06-04'}}</span>
              </div>
              <p class="description">
                {{this.description}}
              </p>
              <img class="responsive-img" src=" {{this.image}}" alt="{{this.description}}" style="width:100%;">
              <a href="#">Edit this Piece</a>
            </div>

            <div class="gallery-action">
              <a href="#" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Send to Grandma"><i class="material-icons">email</i></a>
              <a href="#" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-tooltip="Order Prints"><i class="material-icons">wallpaper</i></a>
            </div>

          </div>
        </div>
        {{/each}}

      </div>
    </div><!-- Close portfolio container -->
  </div> <!-- Close post container -->


</div>



<script src="/javascripts/new-child.js"></script>